BULLETIN=官網公告訊息
ZBPACK_BUILD_COMMAND=apt-get update && apt-get install -y fontforge python3-fontforge
BASE_URL=https://font.emtech.cc
THREADS=-2
PORT=${WEB_PORT}
DATABASE_URL=${POSTGRES_URI}
REDIS_URL=${REDIS_URI}
MINIO_BUCKET=${MINIO_DEFAULT_BUCKET}
MINIO_ENDPOINT=http://minio.zeabur.internal:9000
MINIO_PASSWORD=${MINIO_PASSWORD}
MINIO_USERNAME=minio

FORCE_MIN=false
REGEN_STATIC=false
REGEN_CSS=true
FONT_CHECK=false

PASSWORD=3yw15HAao02k6Jspc4Dn8ujlY9M7CUhE