BULLETIN=官網公告訊息
DATABASE_URL=postgresql://root:pwd@postgresql.com:port/database
BASE_URL=https://example.com
JWT_SECRET=your_secret_key

GITHUB_CLIENT_ID=ABCDEFGHIJKLMNOPQRSTUVWXYZ
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_REDIRECT_URI=http://localhost:3000/callback

R2_ACCESS_KEY_ID=ABCDEFGHIJKLMNOPQRSTUVWXYZ
R2_SECRET_ACCESS_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ
R2_BUCKET_NAME=你的R2儲存體名稱
R2_ENDPOINT=https://你的-account-id.r2.cloudflarestorage.com
R2_PUB_URL_BASE=https://pub-你的-account-id.r2.dev（或是你的自訂網域）

MINIO_BUCKET=zeabur
MINIO_USERNAME=minio
MINIO_ENDPOINT=minio.com
MINIO_PASSWORD=pwd