<!-- @format -->

<nav>
    <div>
        <div class="nav-left" id="logo">
            <a href="/"
                ><img
                    src="/static/img/logo/emfont-logo-dark.svg"
                    alt="emfont"
                    class="logo"
            /></a>
            <button
                onclick="window.open('https://github.com/emfont/emfont/blob/main/src/static/img/logo/favicon.svg')"
            >
                下載 Logo
            </button>
            <button
                onclick="window.open('https://github.com/emfont/emfont/tree/main/src/static/img/logo')"
            >
                查看所有 Logo
            </button>
        </div>
        <input type="checkbox" id="nav" />
        <div class="nav-right logged">
            <label for="nav" class="nav-toggle"
                ><img
                    src="/static/img/logo/emfont-logo-dark.svg"
                    alt="emfont"
                    class="logo"
            /></label>
            <!-- <a href="/dashboard">儀錶板</a> -->
            <a href="/fonts">字體列表</a>
            <a href="https://font.emtech.cc/docs">文檔</a>
            <a class="github" href="https://github.com/edit-Mr/emfont"
                ><img src="/static/img/GitHub.svg" alt=""
            /></a>
            <a href="https://dc.elvismao.com"
                ><img src="/static/img/Discord.svg" alt=""
            /></a>
            <!-- <a href="/login" class="login">登入</a> -->
            <!-- <img
                src=""
                alt=""
                class="profile"
            /> -->
        </div>
    </div>
</nav>

<script>
    // when right click #logo, add class, when click outside, remove class
    const logo = document.getElementById("logo");
    logo.addEventListener("contextmenu", function (event) {
        event.preventDefault();
        logo.classList.toggle("open");
    });

    // Remove class on click outside
    document.addEventListener("click", function (event) {
        if (!logo.contains(event.target)) {
            logo.classList.remove("open");
        }
    });
</script>
